// Definitions for WATTER Apollo RPi Board
/dts-v1/;
/plugin/;

#include "i2c-buses.dtsi"
#include <dt-bindings/thermal/thermal.h>
#include <dt-bindings/iio/temperature/thermocouple.h>

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target = <&i2c_gpio>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			flow_3: pcf8593@51 {
				compatible = "pcf8593-ctr";
				reg = <0x51>;
				status = "disabled";
			};
		};
	};

	fragment@1 {
		target = <&i2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			emc2303: emc2303@4d {
				compatible = "microchip,emc2303";
				emc2305,pwm-channel = <1>;
				reg = <0x4d>;
				#cooling-cells = <0x02>;
			};

			flow_2: pcf8593@51 {
				compatible = "pcf8593-ctr";
				reg = <0x51>;
				status = "disabled";
			};
		};
	};

	fragment@2 {
		target = <&i2c2>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			tmp116: tmp116@48 {
				compatible = "ti,tmp116";
				reg = <0x48>;
				label = "ambient";
				#thermal-sensor-cells = <0>;
			};
		};
	};

	fragment@3 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			thermo_1: mcp9600@60 {
				compatible = "microchip,mcp9601";
				reg = <0x60>;
				thermocouple-type = <THERMOCOUPLE_TYPE_K>;
				label = "shroud-ambient";
			};

			thermo_2: mcp9600@61 {
				compatible = "microchip,mcp9601";
				reg = <0x61>;
				thermocouple-type = <THERMOCOUPLE_TYPE_K>;
				label = "water-loop";
			};

			thermo_3: mcp9600@65 {
				compatible = "microchip,mcp9601";
				reg = <0x65>;
				thermocouple-type = <THERMOCOUPLE_TYPE_K>;
				label = "UNUSED";
			};

			thermo_4: mcp9600@67 {
				compatible = "microchip,mcp9601";
				reg = <0x67>;
				thermocouple-type = <THERMOCOUPLE_TYPE_K>;
				label = "coolant";
			};

			flow_1: pcf8593@51 {
				compatible = "pcf8593-ctr";
				reg = <0x51>;
				/* <INT MICRO> */
				scale = <450 0>;
				label = "hotwater";
			};
		};
	};

	fragment@4 {
		target-path = "/thermal-zones";
		__overlay__ {
			watter_thermal: watter-thermal {
				polling-delay-passive = <1000>;
				polling-delay = <2000>;
				coefficients = <(-556) 418000>;

				thermal-sensors = <&tmp116>;

				watter_cooling_maps: cooling-maps {
					watter_map0: watter-map0 {
						trip = <&watter_fanmid0>;
						cooling-device = <&emc2303 2 6>;
					};
					watter_map1: watter-map1 {
						trip = <&watter_fanmax0>;
						cooling-device = <&emc2303 7 THERMAL_NO_LIMIT>;
					};
				};

				watter_trips: trips {
					watter_fanmid0: watter-fanmid0 {
						temperature = <50000>;
						hysteresis = <2000>;
						type = "passive";
					};
					watter_fanmax0: watter-fanmax0 {
						temperature = <75000>;
						hysteresis = <2000>;
						type = "passive";
					};
				};
			};
		};
	};

	fragment@5 {
                target-path = "/axi/pcie@1000120000/rp1/i2c@78000/mcp@20";
                __overlay__ {
			gpio-line-names =
				"pc-power-button",
				"valve-actuate",
				"pc-contactor",
				"heat-element",
				"water-pump",
				"coolant-pump",
				"flow-reset-1",
				"flow-reset-2",
				"flow-reset-3",
				"conversion-start-thermistor",
				"conversion-start-ac-monitor",
				"valve-opened",
				"valve-closed";
		};
        };

	fragment@6 {
		target-path = "/";

		__overlay__ {
			fixedregulator_3v0: fixedregulator_3v0 {
				compatible = "regulator-fixed";
				regulator-name = "3v0";
				regulator-min-microvolt = <3000000>; // 3.0V
				regulator-max-microvolt = <3000000>; // 3.0V
				regulator-always-on; // Regulator is always enabled
			};
                };
        };

	__exports__ {
		fixedregulator_3v0 = <&fixedregulator_3v0>;
	};

	__overrides__ {
	};
};
